.float-label {
  position: relative;
}

.label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 4px;
  transition: 0.2s ease all;
  color: #000;
}

.as-placeholder {
  color: gray;
}

.as-label {
  top: -13px;
  font-size: 12px !important;
  background: white;
  padding: 0 4px;
  margin-left: -4px;
  z-index: 9999;
}

.ant-select-dropdown {
  z-index: 9999 !important;
}
